{% extends 'base.html' %}
<!-- block image-drop-zone tempat dropzone gambar utama -->
{% block image-drop-zone %}
<div style="position: relative">
  <form
    action="{% url 'upload' %}"
    method="POST"
    class="dropzone dz"
    id="my-awesome-dropzone"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="fallback">
      <input name="file" type="file" multiple />
    </div>
  </form>
  <div id="imagePreview"></div>
</div>
<video id="video" style="display: none" autoplay></video>
{% endblock %}
<!-- block cbir-switch tempat switch color dan texture -->
{% block cbir-switch %}
<div class="cbir-switch">
  <div class="text-color">
    <p>Color</p>
  </div>
  <div
    class="method-switch"
    data-url="{% url 'methodCBIR' %}"
    data-csrf="{{ csrf_token }}"
  >
    <label class="switch">
      <input type="checkbox" name="cbir_method" id="methodCheckbox" />
      <span class="slider round"></span>
    </label>
    <input
      type="hidden"
      name="cbir_method_hidden"
      id="cbirMethodHidden"
      value="color"
    />
  </div>
  <div class="text-texture">
    <p>Texture</p>
  </div>
</div>
{% endblock %}
<!-- block process tempat button start -->
{% block process %}
<form method="POST" id="processForm" data-url="{% url 'update_result' %}">
  {% csrf_token %}
  <button type="button" class="button-64" id="processButton">
    <span class="text">Search</span>
  </button>
</form>

<button id="snap" onclick="startCapture()" style="--clr: #0ff0fc">
  <span>Open Camera</span><i></i>
</button>

{% endblock %}
<!-- block upload-dataset tempat upload dataset -->
{% block upload-dataset%}
<form
  action="{% url 'upload-dataset' %}"
  method="POST"
  class="dropzone dz"
  id="my-awesome-dropzone-dataset"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="fallback">
    <input
      name="file"
      type="file"
      multiple
      directory
      webkitdirectory
      mozdirectory
    />
  </div>
</form>
<div id="datasetPreview"></div>
{% endblock %}
<!-- block result_image tempat menampilkan gambar -->
{% block result-image %}
<div id="result-image"></div>
<div id="pagination"></div>
{% endblock %}
